$bgBorder: rgba(0, 0, 0, 0.125);
$bgLightBorder: rgba(0, 0, 0, 0.1);

$bgLight: #f8f9fa;

$noteViewTitleHeight: 48px;

$iconDefaultColor: #000;
$iconDangerColor: #dc3545;

$spacing1: calc(1 / 3 * 1rem);
$spacing2: calc(2 / 3 * 1rem);
$spacing3: 1rem;
