@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100vh;
    min-height: 100vh;

    & > main {
        margin-top: 56px;

        & > .container-fluid {
            height: 100%;
        }
    }
}

.alert {
    position: absolute;
    width: 100%;
    z-index: 100;
    border-radius: 0;
    top: 0;
}

.option-container {
    .option-group {
        & > .header {
            border-top: 1px solid $bgLightBorder;
            margin-top: 1rem;
            padding-top: 1rem;
        }
    }
}

.shake {
    @include shakeAnimation;
}
