.authentification {
    .fail {
        @include shakeAnimation;
    }
    .icon {
        font-size: 3rem;
        color: $iconDefaultColor;

        &.fail {
            color: $iconDangerColor;
        }
    }

    .secret-form {
        .secret-submit {
            display: none;
        }
    }
}
