.note-editor {
    height: 100%;

    .note-editor-container {
        height: 100%;

        .note-title {
            &.note-title-input {
                @include inlineInput;

                border-left: none;

                font-size: 1.25rem;
                font-weight: 500;
            }
        }

        .CodeMirror {
            height: calc(100% - #{$noteViewTitleHeight});
            overflow: scroll;
            overflow-x: hidden;
        }

        .note-empty-message {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
